#head_logo > * {
  position: absolute;
  width: 300px;
  height: 285px;
  top: 10px;
}
#logo_full {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
#logo_full:hover {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
#bg_right, #bg_left {
  background: url("./../img/space_bg.jpg") repeat;
  background-size: 800px auto;
}
#bg_left {
  transform: rotate(180deg);
  width: 100px;
}
#bg_right {
  margin-left: 100px;
  background-position: top right;
  width: 200px;
}
