body {
  background: #00251a;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 28pt;
  cursor: default
}

@media (max-width: 550px) {
  body {
    font-size: 22pt
  }
}

#body-full {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300pt;
  min-width: 400pt;
  height: 100%;
  justify-content: center;
  align-items: center
}

a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.8em;
  margin: 0 4pt
}
a:hover {
  text-decoration: underline
}
a:after {
  content: " ]"
}
a:before {
  content: "[ "
}

.contacts {
  font-size: 20pt;
  display: flex;
  width: 240pt;
  justify-content: center;
  flex-wrap: wrap
}

#main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #004d40;
  padding: 50pt;
  margin: 20pt;
  box-shadow: 10pt 10pt 0 #00130E,
              0    10pt 0 #00130E,
              10pt 0    0 #00130E
}
#main-info h1 {
  font-size: 2em;
  text-shadow: 4pt 4pt 0 rgba(0,0,0,0.3)
}
#main-info h2 {
  font-size: 1em;
  text-shadow: 2pt 2pt 0 rgba(0,0,0,0.3);
  margin-bottom: 0.5em
}

* {
  padding: 0;
  margin: 0
}